@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

.product_filters_sect {
  width: 100%;
  height: auto;
  padding-top: 130px;
  padding-bottom: 20px;
}

.product_filters_container {
  display: flex;
  justify-content: space-evenly;
}

.furniture_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-top: 40px;
}

.filter_side {
  display: flex;
  flex-direction: column;
  justify-content: start ;
  gap: 40px;
  padding-top: 80px;
}

.price-slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.slider {
  position: relative;
  height: fit-content;
  padding: 20px 0;
  display: flex;
  align-items: center;
}


.slider input[type="range"] {
  position: absolute;
  width: 100%;
  height: 0;
  -webkit-appearance: none;
  pointer-events: none;
  z-index: 3;
}

.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  background: #2c2c2c;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: all;
  position: relative;
  z-index: 3;
  
}

.slider-range {
  position: absolute;
  height: 4px;
  background-color: #2c2c2c;
  z-index: 2;
  border-radius: 4px;
}

.price-inputs {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.price-inputs div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.price-inputs input {
  width: 100px;
  padding: 6px;
  text-align: center;
  border: 2px solid #40556d;  
  border-radius: 6px;
}

.category_name_icon {
  border-left: 1px solid #222;
  border-right: 1px solid #222;
  border-top: 1px solid #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;

}

.category_name_icon h3 {
  font-weight: 400;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

.memory_filter, .ram_filter, .screen_size_filter, .update_frequency_filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  gap: 15px;
  padding: 20px;
  border: 1px solid #222;
}

.memory_filter > div, .ram_filter > div, .screen_size_filter > div, .update_frequency_filter > div {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #999999;
  font-weight: 300;
}

.memory_filter {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: sans-serif;
}

.memory_filter div {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #555;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s ease;
}

.custom-checkbox:checked {
  background-color: rgb(34, 34, 51);
  border-color: rgb(34, 34, 51);
}

.custom-checkbox:checked::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}






.product_list_card {
  width: 400px;
  height: fit-content;
  padding: 20px 0;
}

.product_list_card_image {
  width: 100%;
  height: 240px;
}

.product_list_card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  user-select: none;
}

.product_context {
  padding-left: 20px ;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product_context h3 {
  font-weight: 600;
  font-size: 20px;
  color: #222;
  font-family: "oswald", sans-serif;
}

.product_context p {
  font-weight: 300;
  font-size: 16px;
}

.product_context p span {
  font-weight: 500;
}

.product_context button {
  padding: 12px 30px;
  width: fit-content;
  border-radius: 10px;
  border: 1px solid #222;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  user-select: none;
}

.product_context button:hover {
  transform: scale(1.05);
}

.show_more_btn_Sect {
  width: 70%;
  height: auto;
  display: flex;
  justify-content: end;
  padding: 20px 0;
}

.show_more_btn {
  width: 200px;
  padding: 20px 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #2c2c2c;
  color: #fff;
  font-size: 17px;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}

.show_more_btn:hover {
  transform: scale(1.01);
}

